@model PetSite.Models.VM.ProductVM

@{
    ViewData["Title"] = "Edit";
}

<h1>編輯商品</h1>

<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
			<div class="form-group">
				<label asp-for="CreateDate" class="control-label"></label>
				<input asp-for="CreateDate" class="form-control" readonly />
				<span asp-validation-for="CreateDate" class="text-danger"></span>
			</div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SizeId" class="control-label"></label>
                <select asp-for="SizeId" class="form-control" asp-items="ViewBag.SizeId"></select>
                <span asp-validation-for="SizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorId" class="control-label"></label>
                <select asp-for="ColorId" class="form-control" asp-items="ViewBag.ColorId"></select>
                <span asp-validation-for="ColorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlavorId" class="control-label"></label>
                <select asp-for="FlavorId" class="form-control" asp-items="ViewBag.FlavorId"></select>
                <span asp-validation-for="FlavorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeciesId" class="control-label"></label>
                <select asp-for="SpeciesId" class="form-control" asp-items="ViewBag.SpeciesId"></select>
                <span asp-validation-for="SpeciesId" class="text-danger"></span>
            </div>
			<div class="form-group my-2">
				<label asp-for="Image" class="control-label">照片</label>
				<br></br>
				<input asp-for="Image" type="file" name="Image" class="formfile form-control" multiple accept="image/*" />
				<span asp-validation-for="Image" class="text-danger"></span>
				<br></br>
				<div class="d-inline-flex">
					@foreach (var n in Model.ImageName)
					{
						<img src="~/ProductImages/@n" class="mx-2" style="width:200px;height:100px;">
					}
				</div>
			</div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
